html {
  min-height: 100%;
}

body {
  background-color: #f9f7fe;
  font-family: sans-serif;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  margin: 0 0 25px 0;
  color: #211a00;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 500px;
  margin: 60px;
  background-color: #c8c6b7;
  padding: 30px;

  border-radius: 10px;
  float: left;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cityclock {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  /*border: 2px dashed rgba(0, 0, 0, 0.2);*/
  border-radius: 10px;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.city {
  color: #211a00;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  opacity: 0.7;
  color: #211a00;
  font-size: 16px;
}

.current-time {
  display: flex;
  align-items: center;
  color: #211a00;
}

.time {
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
}

.day-part {
  font-size: 20px;
}
footer {
  border-top: 1px solid rgba(33, 26, 0, 0.7);
  text-align: center;
  font-size: 14px;
  color: rgba(33, 26, 0, 0.7);
}

select:focus {
  outline: 0;
}
